
.color-palette {
    color:#b8483c
          #b8a245
          #3c393e
          #a6bd9e
          #9c705d
          #8da683
          #be8f3c
          #d99d29
          #f2dcb1
          #dc8920;
}
.error, .success {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
}

.error {
    background-color: #f2dede;
    color: #a94442;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    font-family: Arial, sans-serif;
    overflow-y: auto;
}


.navbar{
    display: flex;
}
.navbar image{
    width: 150%;
}

.reg-container {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-container {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-radius-zero {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
.content-wrapper {
    margin-top: 40px;
    min-height:800px;
    padding-bottom:90px;
}
.header-line {
    font-weight:900;
    padding-bottom:25px;
    border-bottom:1px solid #eeeeee;
    text-transform:uppercase;
}
.pad-botm {
    padding-bottom:30px;
}



.right-div {
    float: right; 
    padding: 20px;
}
#menu-top a {
    color:#000;
    text-decoration:none;
    font-weight:500;
    padding: 25px 15px 25px 15px;
    text-transform:uppercase;

}
.menu-section {
    background-color: #f7f7f7;
    border-bottom:5px solid #9170E4;
    width:100%
}
.menu-top-active {
    background-color:#eeeeee;
}
.navbar-inverse {
background-color: #FFF;
border-color: rgba(155, 153, 153, 0.23);

}

.navbar {
    min-height: 90px;
    margin-bottom: 0px;
   
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
.navbar-toggle {
background-color: black;
border: 1px solid black;
}



/* Registration CSS */
.registration-box {
    color: white;
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.6);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}


.registration-header {
    font-size: 24px;
    margin-bottom: 20px;
}


.registration-form {
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}


.registration-form input[type="submit"] {
    width: 50%;
    margin-left: 25%; /* Center horizontally */
    margin-top: 15px;
    background-color: #9c705d;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}


.registration-form input[type="submit"]{
    background-color: #b8483c;
}


/* Login CSS */
.login-box {
    color: white;
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.6);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}


.login-header {
    font-size: 24px;
    margin-bottom: 20px;
}


.login-form {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}


input[type="submit"] {
    width: 50%;
    margin-left: 25%; /* Center horizontally */
    margin-top: 15px;
    background-color: #9c705d;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}


.login-form button:hover {
    background-color: #b8483c; 
}