* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

.delete-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.edit-btn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.navbar{
    display: flex;
}
.navbar image{
    width: 150%;
}

.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.log-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.set-radius-zero {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
.content-wrapper {
    margin-top: 40px;
    min-height:800px;
    padding-bottom:90px;
}
.header-line {
    font-weight:900;
    padding-bottom:25px;
    border-bottom:1px solid #eeeeee;
    text-transform:uppercase;
}
.pad-botm {
    padding-bottom:30px;
}



.right-div {
    float: right; 
    padding: 20px;
}
#menu-top a {
    color:#000;
    text-decoration:none;
    font-weight:500;
    padding: 25px 15px 25px 15px;
    text-transform:uppercase;

}
.menu-section {
    background-color: #f7f7f7;
    border-bottom:5px solid #9170E4;
    width:100%
}
.menu-top-active {
    background-color:#eeeeee;
}
.navbar-inverse {
background-color: #FFF;
border-color: rgba(155, 153, 153, 0.23);

}

.navbar {
    min-height: 90px;
    margin-bottom: 0px;
   
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
.navbar-toggle {
background-color: black;
border: 1px solid black;
}


.error, .success {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
}

.error {
    background-color: #f2dede;
    color: #a94442;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
}



/* Registration CSS */
.registration-box {
    color: white;
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.6);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}


.registration-header {
    font-size: 24px;
    margin-bottom: 20px;
}


.registration-form {
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}


.registration-form input[type="submit"] {
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    background-color: #9c705d;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}


.registration-form input[type="submit"]{
    background-color: #b8483c;
}


/* Login CSS */
.login-box {
    color: white;
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.6);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}


.login-header {
    font-size: 24px;
    margin-bottom: 20px;
}


.login-form {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.login-form input[type="submit"] {
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    background-color: #dc8920;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.login-form button:hover {
    background-color: #b8483c; 
}


/* Book Containers */

#edit-container {
    display: none;
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #b8a245;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow-y: auto;
}


#close-edit-container {
    float: right;
    display: inline-end;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #d99d29;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#edit-form label {
    display: block;
}

#edit-form input[type="text"],
#edit-form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}
#edit-form input[type="file"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.smt{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}


#edit-form input[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #00BF63;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#edit-form input[type="submit"]:hover {
    background-color: #00542B;
}

#add-container {
    display: none;
    position: fixed;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #a6bd9e;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

#add-book-btn{
    color: white;
    margin-top: 15px;    
    margin-bottom: 25px;  
    border-radius: 5px;
    border: none;
    background-color: #CAAA08;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 25px;
    float: inline-end;
    cursor: pointer;
}

#close-add-container {
    float: right;
    display: inline-end;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #00BF63;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#add-form label {
    display: block;
    margin-bottom: 10px;
}

#add-form input[type="text"],
#add-form input[type="number"],
#add-form input[type="date"],
#add-form input[type="time"], 
#add-form input[type="textarea"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: none;
}

#add-form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}

#add-form input[type="submit"] {
    display: block;
    padding: 10px;
    background-color: #F2CB07;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-form input[type="submit"]:hover {
    background-color: #caaa08;
}


.book-cover{
    height: 75px;
}

.center-text {
    text-align: center;
  }

  .center-image {
    text-align: center;
  }

.borrow-btn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.return-btn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.fine-container {
    display: none;
    position: fixed;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #a6bd9e;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}